<div class="actions">
  <%= link_to 'Index', url_for(action: :index), class: 'index btn' %>
  <% unless action_name == 'compare' %>
    <%= link_to 'Compare', url_for(action: :compare), class: 'compare btn' %>
  <% end %>
  <% if action_name != 'diff' && diffable %>
    <%= link_to 'Diff', url_for(action: :diff), class: 'diff btn' %>
  <% end %>
  <%= button_to 'Reject', url_for(action: :reject), class: 'reject' %>
  <%= button_to 'Accept', url_for(action: :accept), class: 'accept' %>
</div>