<div class="iframes">
  <div>
    <h2>Champion</h2>
    <iframe src="<%= url_for(action: :show) %>"></iframe>
  </div>
  <div>
    <h2>Challenger</h2>
    <iframe src="<%= url_for(action: :show, view: :challenger) %>"></iframe>
  </div>
</div>
<div class="footer">
  <div class="info">
    <div>
      <%= @directory.controller_name %>
    </div>
    <div>
      <%= @directory.method %>
    </div>
    <div>
      <%= @directory.description %>
    </div>
  </div>
  <div class="actions">
    <%= link_to 'Index', url_for(action: :index), class: 'index btn' %>
    <%= button_to 'Reject', url_for(action: :reject), class: 'reject' %>
    <%= button_to 'Accept', url_for(action: :accept), class: 'accept' %>
  </div>
</div>
