.iframes
  %div
    %h2 Champion
    %iframe{ src: url_for(action: :show) }
  %div
    %h2 Challenger
    %iframe{ src: url_for(action: :show, view: :challenger) }
.footer
  .info
    %div= @directory.controller_name
    %div= @directory.method
    %div= @directory.description
  .actions
    = link_to 'Index', url_for(action: :index), class: 'index btn'
    = button_to 'Reject', url_for(action: :reject), class: 'reject'
    = button_to 'Accept', url_for(action: :accept), class: 'accept'
